*{
  margin: 0;
  padding: 0;
}
.box{
  height: 1024px;
  width: 666px;
  background-color: #1565D8E5;
}
.box12{
  height: 1024px;
  width: 666px;
  background-color: white; 
}
.container{
  display: flex;
}
.logo{
  display: flex;
  align-items: center;
  gap: 11px;
  position: relative;
  top: 94px;
  left: 82px;
}
.paragaraph{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 7px;
  
}
.unionimg{
  color: #FFFFFF;
  width: 43.6px;
  height: 30px;

}
.png{
  color: #00DAF7;
  position: relative;
  top: 350px;
  left: 73px;
  
}
.paragaraph2{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 370px;
  left: 70px;
  line-height: 38px;
  font-family: "Inter", sans-serif;
  
}
.paragaraph3{
  position: relative;
  top: 380px;
  left: 70px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif ;
  color: #FFFFFF;
}
.groupimg{
 position: relative;
 top: 3px;
 left: 9px;
  border-radius: 50%;
 
}
.vectorimg{
  position: relative;
  left: 450px;
  top: 450px;

}
.paragaraph4{
  position: relative;
  top: 70px;
  margin-left: 18rem;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #8692A6;
  
}
.sing{
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.paragaraph5{
  color: #8692A6;
  margin-left: 4.8rem;
  margin-top: 10px;
  
}
.heading{
 margin-top: 15rem;
 margin-left: 4.8rem;
 font-size: 30px;
 font-weight: 700;
 color: #000000;
}
.box13{
  height: 108px;
  width:426px ;
  background-color: #F5F9FF;
  margin-left: 4.8rem;
  border: 1px solid#1565D8E5;
  border-radius: 6px;
  margin-top: 29px;
}
.icon4{
 margin-top: 47px;
 margin-left: 46px;
 color: white;
 
}
.imgpolgon{
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
 
}
.container23{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 40px;
}
.Individual{
  margin-right: 10rem;
  position: relative;
  bottom: 7px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.Business{
  margin-right: 10.7rem;
  position: relative;
  bottom: 7px; 
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.union2img{
  position: relative;
  bottom: 19px;
  left: 11rem;
}
.box4{
  height: 108px;
  width:426px ;
  background-color:#FFFFFF;
  margin-left: 4.8rem;
  border-radius: 6px;
  margin-top: 29px; 
  box-shadow: 0px 0px 5px 0px ;
}
.paragaraph9{
  color: #8692A6;
  font-size: 14px;
  font-weight: 400;
  margin-right: 25px;
}